@media screen and (max-width: 1199px) {
  h2 {
    font-size: 1.9em;
  }
  .splash {
  background-image: url('../images/splash-desktop.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  justify-content: flex-end;
  color: #E4E4E4;
  }
  .fastfashion {
    background-color: #2E3143;
    background: url('../images/catwalk.jpg') center;
    background-size: cover;
    top: -20vh;
  }
  .manufacturing {
    /*background-color: #3E4456;*/
    background-color: #2E3143;
    background-image: url('../images/factorymobil.png');
    background-size: contain;
    top: -30.5vh;
    height: 150vh;
    justify-content: space-between;
    -webkit-clip-path: polygon(0 0, 100% 6.7%, 100% 99%, 0 92%);
    clip-path: polygon(0 0, 100% 6.7%, 100% 99%, 0 92%);
  }
  .manufacturing h3 {
    margin-top: 25vh;
    margin-bottom: 2vh;
  }
  .bangladesh {
    background-color: #2E3143;
    background-image: url('../images/factory.jpg');
    background-size: cover;
    justify-content: space-around;
    -webkit-clip-path: polygon(0 14.5%, 100% 0, 100% 100%, 0 85.5%);
    clip-path: polygon(0 14.5%, 100% 0, 100% 100%, 0 85.5%);
  }
  .bangladesh h4 {
    margin-top: 13vh;
    font-size: 1.9em;
  }
  .bangladesh .row:nth-child(2) {
    margin-top: 3vh;
  }
  .bangladesh .row:nth-child(3) {
    margin-bottom: 5vh;
  }
  .conscious {
    justify-content: flex-start;
    background-color: #FFFFFF;
    background: url('../images/conscious-fashion-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center top 5vh;
    height: 118vh;
    text-align: center;
    top: -49vh;
    padding-top: 45.5vh;
    z-index: -1;
    -webkit-transform: translate3d(0,0,0);
    -webkit-clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 95%);
    clip-path: polygon(0 0%, 100% 0, 100% 100%, 0 95%);
  }
  .conscious .row {
    justify-content: center;
  }
  .conscious img {
    display: none;
  }
  .conscious h2 {
    color: #2E3143;
  }
  .conscious h3 {
    font-family: 'Muli';
    font-weight: 600;
    margin-top: 5vh;
  }
  .conscious br {
    display: none;
  }
  .conscious button {
    background-color: #2E3143;
  }
  .carousel {
    top: -55vh;
    z-index: -2;
  }
  .thrive {
    top: -46vh;
    padding-top: 3vh;
  }
  footer {
    height: 85vh;
    position: absolute;
    bottom: -523vh;
    padding-top: 12vh;
  }
  footer .row > img {
    width: 50%;
    margin-top: 2vh;
  }
  footer > .row:last-child  .col-12 {
    margin-top: 3vh;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
    color: #5E6B7D;
  }
  h2 {
    font-size: 3.5em;
  }
  .splash {
    background-image: url('../images/compassionkomp.png');
    background-size: contain;
    margin-top: 3vh;
    background-repeat: no-repeat;
    height: 120vh;
    z-index: -1;
  }
  .splash .col-xl-5 {
    margin-right: 10%;
  }
  .splash h5 {
    margin-left: 10%;
  }
  .splash p {
    margin-left: 23%;
  }
  .fastfashion {
    background-color: #3E4150;
    background: url('../images/catwalk.jpg');
    top: -30vh;
    flex-direction: row;
  }
  .fastfashion .row:last-child {
    order: -1;
    height: 100%;
    align-items: center;
    margin-right: 1%;
  }
  .fastfashion .row:first-child {
    margin-left: 1%;
  }
  .fastfashion .row:last-child .col-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  iframe {
    height: 60%;
  }
  .manufacturing {
    background-color: #2E3143;
    background-image: url('../images/factory.jpg');
    background-size: cover;
    top: -41vh;
    height: 120vh;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    -webkit-clip-path: polygon(0 0, 100% 8.5%, 100% 92%, 0 100%);
    clip-path: polygon(0 0, 100% 8.5%, 100% 92%, 0 100%);
  }
  .manufacturing h3 {
    font-size: 2.7em;
  }
  .manufacturing h4 {
    font-size: 2em;
  }
  .manufacturing blockquote {
    font-size: 1.3em;
  }
  .manufacturing .row:first-child .col-xl-5 {
    margin-right: 26%;
  }
  .bangladeshline {
    display: none;
  }
  .bangladesh {
    background-color: none;
    background-image: none;
    justify-content: space-around;
  }
  .bangladesh .row:last-child .col-xl-5 {
    margin-right: 26%;
  }
  .conscious {
    background: url('../images/conscious-fashion-img1-v04.jpg') no-repeat;
    background-size: cover;
    height: 110vh;
    background-color: #FFFFFF;
    clip-path: polygon(0 6.5%, 100% 0%, 100% 100%, 0 93.5%);
    -webkit-clip-path: polygon(0 6.5%, 100% 0%, 100% 100%, 0 93.5%);
    text-align: left;
    top: -51vh;
    justify-content: space-around;
    align-items: flex-end;
  }
  .conscious .row {
    justify-content: flex-end;
    margin-right: 10%;
  }
  .conscious h2 {
    color: #5E6B7D;
    margin-top: 8vh;
  }
  .conscious h3 {
    display: none;
  }
  .conscious p span {
    color: #5E6B7D;
  }
  .conscious button {
    margin-top: .5em;
  }
  .conscious img {
    width: auto;
    height: 50%;
    margin-bottom: 2.5vh;
  }
  .carousel {
    top: -58.5vh;
    width: 100%;
    margin: auto;
    z-index: -2;
  }
  /*.slick-slide {
    margin: 0 20px;
  }*/
  .thrive {
    top: -35vh;
  }
  .thrive p {
    font-size: 1.2em;
  }
  .thrive span {
    font-family: 'Playfair Display', serif;
  }
  .thrive .row {
    justify-content: center;
  }
  footer {
    height: 110vh;
    position: absolute;
    bottom: -590vh;
  }
  footer p {
    font-size: 1.2em;
  }
  footer > .row:last-child  .col-12 {
    border-top: 1px solid #E4E4E4;
    margin-top: 15vh;
    padding-top: 5vh;
  }
}
