@import "media.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url('../images/texture.png');
  font-family: 'Muli', sans-serif;
  min-height: 100vh;
  font-size: calc(0.70em + 1vmin);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
}

h1, h2, h3, h4, blockquote {
  font-family: 'Playfair Display', serif;
  line-height: 1;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

a:visited {
  color: #FAFAFA;
}

p {
  font-weight: 200;
  line-height: 1.3;
}

.row {
  flex-basis: auto;
  margin: 0;
  width: 100%;
}

.col-10 {
  flex-basis: auto;
}

.white {
  color: #E4E4E4;
}

.splash {
  padding: 0 0 30% 0;
}

h1 {
  font-weight: 900;
  width: 100%;
}

h5 span {
  font-weight: bold;
}

.fastfashion {
  padding: 0;
  height: 100vh;
  justify-content: space-around;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  padding: 13vh 0;
}

h2 {
  color: #F9F9F9;
  font-weight: 400;
}

.fastfashion .row:last-child {
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.manufacturing {
  padding: 15vh 0 0 0;
}

.bangladesh {
  height: 70vh;
  display: flex;
  flex-direction: column;
  padding: 0 0 13vh 0;
  border: 5px top solid white;
}

.stack1 {
  width: 67%;
  height: 5vh;
  background-color: #F3F3F3;
  margin-right: 3%;
  -webkit-clip-path: polygon(0 0%, 97% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 97% 0, 100% 100%, 0 100%);
}

.stack2 {
  width: 15%;
  height: 5vh;
  background-color: #F3F3F3;
  margin-right: 3%;
  -webkit-clip-path: polygon(0 0%, 88% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 88% 0, 100% 100%, 0 100%);
}

.bangladesh .row, .bangladesh .row p {
  padding: 0;
  color: #F3F3F3;
  display: flex;
  align-items: center;
  margin: 0;
}

h3 {
  font-size: 1.6em;
}

.bangladesh p {
  margin: 2em 0 0 0;
  text-align: center;
}

.conscious h2 {
  margin-bottom: .5em;
}

.conscious .row:last-of-type h2 {
  font-weight: 600;
}

.conscious p span {
  font-weight: 600;
}

button {
  background-color: #3E4456;
  color: #FAFAFA;
  padding: 0.5em 1.6em;
  border: none;
  margin: auto;
  transition: all .4s;
}
button:hover {
  background-color: #2E3143;
}

button span {
  word-spacing: 0.5em;
}

.thrive .row:last-of-type {
  top: -2em;
}

.thrive {
  height: auto;
}

.thrive img {
  width: 30%;
  height: 100%;
}

.thrive h3 {
  font-family: 'Caveat';
}

footer {
  background-color: #717F90;
  color: #F9F9F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
  width: 100%;
}

footer .row {
  align-items: center;
}

footer .row:first-child .col-xl-8 {
  margin-top: 1em;
}

footer img {
  padding: .5em 0;
}

input {
  background-color: #D8D8D8;
  border: none;
  padding: 0.5em 1.6em;
}

button[type="submit"] {
  background-color: #2E3143;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 1.8em;
  margin-top: .5em;
  cursor: pointer;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 1em;
  height: 1em;
  border: 1px solid #F9F9F9;
  margin-left: .5em;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
}

input[type="checkbox"]:checked + label:before {
  width: .5em;
  height: 1em;
  top: -.2em;
  left: .2em;
  border-radius: 0;
  margin-left: .5em;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
}
