@media screen and (max-width: 1199px) {
  .splash {
  background-image: url('images/compassion-for-fashion-bild.png');
  height: 100vh;
  }
  .fastfashion {
    top: -20vh;
  }
  .manufacturing {
    top: -28.5vh;
    height: 150vh;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 6.7%, 100% 99%, 0 92%);
  }
  .manufacturing h2 {
    margin-top: 26vh;
  }
  .bangladeshline {
    height: 13vh;
    background-color: white;
    clip-path: polygon(0 0%, 100% 0, 100% 13%, 0 90%);
  }
  .bangladesh {
    background-color: #4a4a4a;
    background-image: linear-gradient(
      #4a4a4a, #F3F3F3
      );
    justify-content: space-between;
    clip-path: polygon(0 14.5%, 100% 0, 100% 100%, 0 85.5%);
  }
  .conscious {
    background-image: url('images/conscious-fashion-bild.png');
    text-align: center;
    top: -30vh;
  }
  .carousel {
    top: -30vh;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.5em;
  }
  .splash {
    background-image: url('images/splashmedia.jpg');
    height: 120vh;
    clip-path: polygon(0 0, 100% 0%, 100% 90.5%, 0% 99%);
  }
  .splash .row {
    align-self: flex-end;
  }
  .fastfashion {
    top: -10vh;
    flex-direction: row;
  }
  .fastfashion .row:last-child {
    order: -1;
  }
  .manufacturing {
    top: -18.7vh;
    height: 120vh;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 8.5%, 100% 92%, 0 100%);
  }
  .manufacturing h2 {
    margin-top: 0vh;
  }
  .manufacturing .row:first-child{
    margin-right: 20%
  }
  .bangladeshline {
    display: none;
  }
  .bangladesh {
    background-color: none;
    background-image: none;
    justify-content: space-around;
  }
  .conscious {
    background-image: url('images/consciousmedia.jpg');
    text-align: left;
    top: -18vh;
    align-items: flex-end;
  }
  .conscious .row {
    margin-right: 8.5%;
  }
  .carousel {
    top: -18vh;
  }
}
