@media screen and (max-width: 1199px) {
  h2 {
    font-size: 1.7em;
  }
  .splash {
  background-image: url('images/compassion-for-fashion-bild.png');
  height: 100vh;
  justify-content: flex-end;
  }
  .fastfashion {
    background-color: #4a4a4a;
    top: -20vh;
  }
  .manufacturing {
    top: -28.5vh;
    height: 150vh;
    justify-content: space-between;
    clip-path: polygon(0 0, 100% 6.7%, 100% 99%, 0 92%);
  }
  .manufacturing h3 {
    margin-top: 26vh;
  }
  .bangladeshline {
    height: 13vh;
    background-color: white;
    clip-path: polygon(0 0%, 100% 0, 100% 13%, 0 90%);
  }
  .bangladesh {
    background-color: #4a4a4a;
    background-image: linear-gradient(
      #4a4a4a, #F3F3F3
      );
    justify-content: space-between;
    clip-path: polygon(0 14.5%, 100% 0, 100% 100%, 0 85.5%);
  }
  .conscious {
    background-image: url('images/conscious-fashion-bild.png');
    text-align: center;
    top: -30vh;
    padding-top: 12vh;
  }
  .conscious .row {
    justify-content: center;
  }
  .carousel {
    top: -30vh;
  }
  .thrive {
    top: -30vh;
    padding-top: 3vh;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 3.8em;
  }
  .splash {
    background-image: url('images/splashmedia.jpg');
    height: 120vh;
  }
  .fastfashion {
    background-color: #3E4150;
    top: -30vh;
    flex-direction: row;
  }
  .fastfashion .row:last-child {
    order: -1;
    height: 100%;
    align-items: center;
  }
  .fastfashion .row:last-child .col-10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  iframe {
    height: 60%;
  }
  .manufacturing {
    top: -41vh;
    height: 120vh;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    clip-path: polygon(0 0, 100% 8.5%, 100% 92%, 0 100%);
  }
  .manufacturing h3 {
    font-size: 2.7em;
  }
  .manufacturing h4 {
    font-size: 2em;
  }
  .manufacturing blockquote {
    font-size: 1.5em;
  }
  .manufacturing .row:first-child{
    margin-right: 20%
  }
  .bangladeshline {
    display: none;
  }
  .bangladesh {
    background-color: none;
    background-image: none;
    justify-content: space-around;
  }
  .bangladesh .row:last-child .col-xl-5 {
    margin-right: 20%;
  }
  .conscious {
    background-image: url('images/consciousmedia.jpg');
    text-align: left;
    top: -40vh;
    align-items: flex-end;
  }
  .conscious .row {
    justify-content: flex-end;
    margin-right: 10%;
  }
  .carousel {
    top: -40vh;
    width: 70%;
    margin: auto;
  }
  .thrive p {
  font-size: 1.2em;
  }
  .thrive span {
    font-family: 'Playfair Display', serif;
  }
  .thrive .row {
    justify-content: center;
  }
}
