* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  min-height: 100vh;
  font-size: calc(0.70em + 1vmin);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 0;
}

a {
  text-decoration: none;
  color: #FAFAFA;
}

a:visited {
  color: #FAFAFA;
}

p {
  font-weight: 200;
  line-height: 1.3;
}

p span {
  font-weight: 600;
}

.row {
  flex-basis: auto;
}

.col-10 {
  padding: 0;
  flex-basis: auto;
}

.white {
  color: #FAFAFA;
}

.splash {
  background-image: url('images/compassion-for-fashion-bild.png');
  background-size: cover;
  justify-content: flex-end;
  height: 100vh;
  padding: 0 0 20% 0;
}

h1 {
  font-weight: bold;
  width: 100%;
}

h1 span {
  color: #4a4a4a;
}

h5 span {
  font-weight: bold;
}

.fastfashion {
  background-color: #4a4a4a;
  padding: 0;
  height: 100vh;
  justify-content: space-around;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  padding: 13vh 0;
  top: -20vh;
}

h2 {
  color: #9B9B9B;
  font-weight: 200;
  font-size: 1.7em;
}

.fastfashion .row:last-child {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
}

.manufacturing {
  background-color: #4a4a4a;
  background-image: url('images/bomull-bild.png');
  background-size: cover;
  padding: 0;
  height: 100vh;
  justify-content: space-around;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  padding: 13vh 0;
  top: -28.5vh;
}

.manufacturing h2 {
  margin-top: 20vh;
}

.bangladesh {
  background-color: #4a4a4a;
  background-image: linear-gradient(
    #4a4a4a, #F3F3F3
    );
  padding: 0;
  height: 70vh;
  justify-content: space-around;
  clip-path: polygon(0 14.5%, 100% 0, 100% 100%, 0 85.5%);
  padding: 13vh 0;
  top: -37vh;
}

.stack1 {
  width: 67%;
  height: 5vh;
  background-color: #F3F3F3;
  margin-right: 3%;
}

.stack2 {
  width: 15%;
  height: 5vh;
  background-color: #F3F3F3;
  margin-right: 3%;
}

.bangladesh .row, .bangladesh .row p {
  padding: 0;
  color: #F3F3F3;
  display: flex;
  align-items: center;
  margin: 0;
}

h3 {
  font-size: 1.6em;
}

.bangladesh p {
  margin: 2em 0 0 0;
  text-align: center;
}

.conscious {
  background-image: url('images/conscious-fashion-bild.png');
  background-size: cover;
  height: 108vh;
  top: -38vh;
  text-align: center;
  justify-content: space-around;
  padding-top: 12vh;
}

.conscious h2 {
  color: black;
  margin: auto;
  margin-bottom: .5em;
}

.conscious .row:last-of-type h2 {
  font-weight: 600;
}

button {
  background-color: #4a4a4a;
  color: #F3F3F3;
  padding: 0.5em 1.6em;
  border: none;
  margin: auto;
  margin-top: .5em;
}
